#main {
  display: flex;
  min-height: 850px;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  color: black;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  text-shadow: 2px 2px 20px rgb(0, 0, 0, .2);
  background: rgb(32,48,68);
  background: radial-gradient(circle, rgba(32,48,68,1) 0%, rgba(65,100,142,1) 100%);
}

#examContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

#categoriesDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: black 1px solid;
}

.categories {
  width: 20%;
}

.sortButtons {
  width: 20%;
  border: none;
  background-color: whitesmoke;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  text-shadow: 2px 2px 20px rgb(0, 0, 0, .2);
  text-align: left;
  padding-bottom: 16px;
  padding-left: 5px;
}

.sortButtons:hover {
  cursor: pointer;
  border: black 1px solid;
}

.sortButton {
  width: 100%;
  border: none;
  background-color: whitesmoke;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  text-shadow: 2px 2px 20px rgb(0, 0, 0, .2);
  text-align: left;
}

.sortButton:hover {
  cursor: pointer;
  border: black 1px solid;
}

.exam {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid black 1px;
  gap: 20px;
}

.examTitle {
  width: 20%;
}

.examDescription {
  width: 20%;
}

.examCandidate {
  width: 20%;
    color: blue;
  text-decoration: underline;
}

.examDate {
  width: 20%;
}

.examLocation {
  width: 20%;
  color: blue;
  text-decoration: underline;
}

#dateDiv {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 1px;
}
#dateSelector {
  width: 50%;
  margin-top: 2px;
}

#locationDiv {
    width: 20%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#candidateDiv {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#candidateDropdown {
  width: 50%;
  margin-top: 2px;
}

#locationDropdown {
  width: 50%;
  margin-top: 2px;
}

@media only screen and (max-width: 800px) {
  #main {
    font-size: 12px;
  }

  #examContainer {
    width: 100%;
  }

  .sortButton {
    font-size: 12px;
  }

  .sortButtons {
    font-size: 12px;
  }

  #dateButton {
    font-size: 12px;
  }

  #dateSelector {
    width: 75%;
    font-size: 12px;
  }

  #locationDropdown {
    width: 80%;
    font-size: 10px;
  }

  #candidateDropdown {
    width: 80%;
    font-size: 10px;
  }

  #dateSelector {
    width: 80%;
    font-size: 10px;
  }
}
